<span>
  <AlertReceiver::Timestamp
    @date={{this.parsedStart.date}}
    @time={{this.parsedStart.time}}
  />

  {{#if @endsAt}}
    -
    <AlertReceiver::Timestamp
      @date={{this.parsedEnd.date}}
      @time={{this.parsedEnd.time}}
      @hideDate={{this.hideEndDate}}
    />
  {{/if}}
</span>