<tr>

  <td><a href={{this.generatorUrl}}>{{@alert.identifier}}</a></td>
  <td>
    <AlertReceiver::DateRange
      @startsAt={{@alert.starts_at}}
      @endsAt={{@alert.ends_at}}
    />
  </td>
  {{#if @showDescription}}
    <td>{{@alert.description}}</td>
  {{/if}}
  <td>
    <div>
      {{#if this.linkUrl}}
        <a
          class="btn btn-flat no-text btn-icon"
          href={{this.linkUrl}}
          title={{this.linkText}}
        >
          {{d-icon "external-link-alt"}}
        </a>
      {{/if}}
      <DButton
        @action={{fn this.quoteAlert}}
        @icon="quote-left"
        @title="prom_alert_receiver.actions.quote"
        class="btn-flat"
      />
    </div>
  </td>
</tr>