<div class="alert-receiver-table" data-alert-status={{@statusName}}>
  <AlertReceiver::CollapseToggle
    @heading={{@heading}}
    @count={{@alerts.length}}
    @headingLink={{@headingLink}}
    @collapsed={{this.isCollapsed}}
    @toggleCollapsed={{this.toggleCollapsed}}
  />

  {{#unless this.isCollapsed}}
    <div class="alert-table-wrapper">
      <table class="prom-alerts-table">
        <tbody>
          {{#each @alerts as |alert|}}
            <AlertReceiver::Row
              @alert={{alert}}
              @showDescription={{this.showDescriptionColumn}}
            />
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/unless}}
</div>